
.DS_Store
.gitignore
.idea/dataSources.local.xml
.idea/vcs.xml
.idea/workspace.xml
service/.DS_Store
service/src/.DS_Store
service/src/main/.DS_Store
service/target/
web/src/main/webapp/
web/target/
